<%- include("template/head", {titlePath: "desafio ejs index"}) %>
<body>
    <h1> Complete el formulario para cargar productos </h1>
    <form>
        <input type="text" name="title" placeholder="Tituloo"><br>
        <input type="number" name="price" placeholder="Precio"><br>
        <input type="text" name="thumbnail" placeholder="Url de su imagen"><br>

        <button type="submit"> ENVIAR! </button>
    </form>
    <div>
        <h2>Los datos enviados: </h2>

        <% if(productos.length == 0) { %>
            No se encontraron productos
        <% } else { %>
            <table>
                <% productos.forEach(function(producto){ %>   
                    <tr>
                        <td>producto.title </td>
                        <td>producto.price</td>
                    </tr>
            </table>
        <% }) }%>

    </div>
</body>
</html>